<div class="div__all">
  <h2>Contato</h2>
  <div class="div__cards">
    <mat-card class="example-card">
      <h3>GitHub</h3>
      <a href="https://github.com/ViniciusFalcao"
        ><img
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg"
      /></a>
      <mat-card-content>
        <p></p>
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
      <h3>Email</h3>
      <a href="mailto:viniciusfalcao82@gmail.com"
        ><img src="assets/icon-email.png"
      /></a>

      <mat-card-content>
        <p></p>
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
      <h3>Linkedin</h3>
      <a href="https://www.linkedin.com/in/vinicius-falcao-544546239/"
        ><img src="assets/likedin.png"
      /></a>

      <mat-card-content>
        <p></p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
