<mat-grid-list cols="2" rowHeight="1:0.7" class="mat__pc">
  <mat-grid-tile> <app-sobre></app-sobre> </mat-grid-tile>
  <mat-grid-tile><app-projetos></app-projetos></mat-grid-tile>
  <mat-grid-tile><app-contato></app-contato></mat-grid-tile>
  <mat-grid-tile><app-formacoes></app-formacoes></mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="1" rowHeight="1:0.43" class="mat__phone">
  <mat-grid-tile> <app-sobre></app-sobre> </mat-grid-tile>
  <mat-grid-tile><app-projetos></app-projetos></mat-grid-tile>
  <mat-grid-tile><app-formacoes></app-formacoes></mat-grid-tile>
  <mat-grid-tile><app-contato></app-contato></mat-grid-tile>

</mat-grid-list>


<mat-grid-list cols="1" rowHeight="660" class="mat__phone2">
  <mat-grid-tile> <app-sobre></app-sobre> </mat-grid-tile>
  <mat-grid-tile><app-projetos></app-projetos></mat-grid-tile>
  <mat-grid-tile><app-formacoes></app-formacoes></mat-grid-tile>
  <mat-grid-tile><app-contato></app-contato></mat-grid-tile>

</mat-grid-list>




