<mat-card class="example-card card" >
  <h2>Projetos </h2>


  <div class="div__card">
    <div class="div__actions">
    <mat-form-field  appearance="fill">
      <mat-label >Escolha o projeto</mat-label>
      <mat-select [(value)]="option">
        <mat-option *ngFor="let projeto of projetos" [value]="projeto">
          {{ projeto }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="div__links" [ngSwitch]="option">
      <a href="https://viniciusfalcao.github.io/Jogo-da-forca/" target="_blank" *ngSwitchCase="'Jogo da forca'"><button mat-stroked-button color="primary">Link do projeto</button></a>
      <a href="https://viniciusfalcao.github.io/Encriptador-Javascript/" target="_blank" *ngSwitchCase="'Encriptador'"><button mat-stroked-button color="primary" class="btn">Link do projeto</button></a>
      <a href="https://viniciusfalcao.github.io/cartao-pre-NFT-desafio/" target="_blank" *ngSwitchCase="'Cartão NFT'"><button mat-stroked-button color="primary">Link do projeto</button></a>
      <a href="" *ngSwitchCase="'Verificador Étario'"><button mat-stroked-button color="primary">Link do projeto</button></a>
      <a href="https://viniciusfalcao.github.io/cartao-pre-NFT-desafio" target="_blank" *ngSwitchDefault><button mat-stroked-button color="primary">Link do projeto</button></a>

    </div>

    </div>
    <div [ngSwitch]="option" >
    <img *ngSwitchCase="'Jogo da forca'" src="assets/jogo-forca.gif" alt="">
    <img *ngSwitchCase="'Encriptador'" src="assets/encriptador.gif" alt="">
    <img *ngSwitchCase="'Cartão NFT'" src="assets/cartao.gif" alt="">
    <img *ngSwitchCase="'Verificador Étario'" src="assets/verificador-étario.gif" alt="">
    <img *ngSwitchDefault src="assets/cartao.gif" alt="">
    </div>

  </div>
</mat-card>


