.img__sobre{
  height: 150px;
  width: 300px;
}
h2{
  text-align: center;
  color: #c2185b;

}
.card{
  width: 70%; margin: 0px auto; height: 342.3px;
}
.titulo{
  margin-top: 100px;
}


@media screen and (max-width:1250px) {
  .card{
   max-width: 750px;

  }
}

@media screen and (max-width:600px) {
img{
  display: none;
}
.group{
  justify-content: center;
}
.card{
  width: 95%;
  height: 200px;
}
.titulo{
  margin-top: 10px;
}



}



