

<mat-card class="example-card card" >
  <mat-card-title-group class="group" style="display: flex;  flex-direction:row ;" >
    <mat-card-title class="titulo" ><span style="color:#c2185b ;" >Vinicius Falcão</span></mat-card-title>
    <mat-card-subtitle class="sub">Desenvolvedor</mat-card-subtitle>
    <img
      mat-card-xl-image
      src="assets/perfil.png"
    />
  </mat-card-title-group>
  <mat-card-content class="text">
    Meu nome é Vinicius sou Desenvolvedor Java Full-Stack Junior tenho 20 anos
    .Moro em Goiânia-GO no entanto nasci em Teresina, estou
    em busca de uma oportunidade de desenvolvimento Spring + Angular.
  </mat-card-content>
</mat-card>
