

<div class="div__all" [ngSwitch]="fNumber">
  <h2>Formações</h2>
  <div class="div__cards" *ngSwitchCase="0">
    <mat-card class="example-card">
      <h3>Javascript</h3>

      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" />
      <mat-card-content>
        <p></p>
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
      <h3>Spring</h3>

      <img
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/spring/spring-original.svg"
      />
      <mat-card-content>
        <p></p>
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
      <h3>CSS</h3>

      <img
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-plain-wordmark.svg"
      />
      <mat-card-content>
        <p></p>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="div__cards" *ngSwitchCase="1">
    <mat-card class="example-card">
      <h3>Angular</h3>

      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-original.svg" />
      <mat-card-content>
        <p></p>
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
      <h3>Java</h3>

      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original-wordmark.svg" />
      <mat-card-content>
        <p></p>
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
      <h3>HML5</h3>

      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-plain-wordmark.svg" />
      <mat-card-content>
        <p></p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
